body {
    padding-top:50px;
}

#sidebar  ul {
  font-size: 1.2em;
}


.speaker-info {
  display: flex
}

.speaker-info .short-info {
  min-width: 15rem;
}

.speaker-info .description {
  margin-left: 2rem;
}

.speaker-info .short-info img {
  height: 15rem;
  max-width: 15rem;
  margin-bottom: 1rem;
}

.event-poster {
  height: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
