---
layout: default
title: Startseite
---


{% assign firstPost = site.posts.first %}

{% if firstPost.layout == 'talk' %}

<h3>Nächstes Treffen:</h3>

{% endif %}

<h2><a href="{{site.posts.first.url}}">{{ firstPost.title }}</a></h2>
<p class="lead"> {% if firstPost.speaker %}von {{ firstPost.speaker }} | {% endif %} {{ firstPost.date | date_to_long_string }}</p>

<p> {{firstPost.content}}</p>

<h3>Umfrage</h3>
<p>Mit der folgenden Umfrage möchten wir gerne euer Feedback zur JUG erfragen. Die Umfrage richtet sich explizit auch an Interessierte, die bisher nicht regelmäßig zu unseren Veranstaltungen gekommen sind. Wir würden gerne erfahren, was wir besser machen können, um in Zukunft auch neue Besucher begrüßen zu können.</p>
<p><a href="http://goo.gl/forms/0Ih5JDo8Pl4GYbly1">Link zur Umfrage</a></p>
