---
layout: default
title: Startseite
---


{% for post in site.posts  %}
  {% if post.show_on_frontpage %}
    {% if post.layout == 'talk' %}
      <h3>Nächstes Treffen:</h3>

      <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
      <p class="lead"> {% if post.speaker %}von {{ post.speaker }} | {% endif %} {{ post.date | date_to_long_string }}</p>

      <div> {{post.content}}</div>

      <br>
      <p>Die Veranstaltung wird durch die <i>Java User Group Görlitz</i> (im <a href="http://www.ijug.eu/"/>iJUG Verband</a>) organisiert.</p>

    {% else %}
      <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
      <div> {{ post.content }}</div>
    {% endif %}

  {% endif %}
{% endfor %}
