body {
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h2 {
  margin-bottom: 0.5rem;
}

/* Override default style for links of typography-theme-fairy-gate */
.navbar {
  border-color: #e7e7e7;
  border-width: 0 0 1px;
  border-style: solid;
}

.navbar a {
  background-image: none;
}

.navbar a:hover {
  background-image: none;
}

.navbar li {
  margin-bottom: 0;
}

.sidebar strong {
  display: block;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.sidebar p {
  font-size: 1.2em;
  margin-bottom: .5em;
}

.sidebar ul {
  font-size: 1.1em;
}

.sidebar li {
  margin-bottom: 0.2em;
}

.sidebar li > ul {
  margin-top: 0;
}

.sidebar .banner a {
  display: block;
}
.sidebar .banner a:hover {
  text-decoration: none;
  background-image: none;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-image: none;
}

a:hover {
  color: #23527c;
  text-decoration: none;

  /*
    this adds a line under the link that (other then text-decoration: underline) will also
     be below the icons
     */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 1px,
    #23527c 1px,
    #23527c 2px,
    rgba(0, 0, 0, 0) 2px
  );
}

.about-organizer-image {
  max-width: 200px;
}

a.supporter-page-image {
  max-width: 400px;
  display: block;
}

.supporter-page-image > a > span {
  margin-right: auto;
  margin-left: unset;
}

.talk-content hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.all-talks {
  margin:0.5em;
}

.all-talks li {
  display: flex;
  list-style: none;
  margin-left: 0;
  gap: 1em;
}

.all-talks li .talk-number {
  display: block;
}
