<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Java User Group in Görlitz">
    <meta name="author" content="Manuel Mauky">

    <title>{{ page.title }}</title>
    
    <script src="/js/jquery-2.0.3.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="/css/juggr.css" rel="stylesheet">
  </head>
  <body>
     <div class="navbar navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Java User Group Görlitz</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li {%if page.url == '/index.html' %} class="active" {% endif %}><a href="/">Aktuell</a></li>
            <li {%if page.url == '/themen.html' %} class="active" {% endif %}><a href="/themen.html">Bisherige Themen</a></li>
            <li {%if page.url == '/treffpunkte.html' %} class="active" {% endif %}><a href="/treffpunkte.html">Treffpunkte</a></li>
            <li {%if page.url == '/about.html' %} class="active" {% endif %}><a href="/about.html">About</a></li>
            <li {%if page.url == '/mitmachen.html' %} class="active" {% endif %}><a href="/mitmachen.html">Mitmachen</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">

        {{ content }}      


    </div><!-- /.container -->

  </body>
</html>

