<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Java User Group Görlitz">
    <meta name="author" content="Manuel Mauky">

    <title>{{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/juggr.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Java User Group Görlitz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {%if page.url == '/index.html' %} class="active" {% endif %}><a href="/">Aktuell</a></li>
            <li {%if page.url == '/themen.html' %} class="active" {% endif %}><a href="/themen.html">Vorträge</a></li>
            <li {%if page.url == '/unterstuetzer.html' %} class="active" {% endif %}><a href="/unterstuetzer.html">Unterstützer</a></li>
            <li {%if page.url == '/about.html' %} class="active" {% endif %}><a href="/about.html">About</a></li>
            <li {%if page.url == '/mitmachen.html' %} class="active" {% endif %}><a href="/mitmachen.html">Mitmachen</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="col-md-9">

        {{content}}

      </div>

      <div class="col-md-3" id="sidebar">
        <br/>
        <p>
          <img src="/images/logo.png" class="img-responsive" />
        </p>
        <p class="lead">Wir sind Mitglied im<br/><a href="http://www.ijug.eu/"/>iJUG Verband</a></p>

        <h3>Andere Medien</h3>
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/jug_gr"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
          <li><a href="https://www.facebook.com/juggr"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
          <li><a href="https://plus.google.com/+Jug-grDe" rel="publisher"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a></li>
          <li><a href="https://groups.google.com/d/forum/juggr"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mailing-List</a></li>
          <li><a href="https://github.com/juggr"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
		  <li>
			  <a href="https://calendar.google.com/calendar/embed?src=gtgjid1tkrv0pl7o1hsqr3d8d8%40group.calendar.google.com&ctz=Europe/Berlin">
				  <i class="fa fa-calendar" aria-hidden="true"></i> Kalender</a>
			  <a href="https://www.google.com/calendar/ical/gtgjid1tkrv0pl7o1hsqr3d8d8%40group.calendar.google.com/public/basic.ics">(ICAL)</a>
		  </li>
        </ul>
	  
	<br/>
	  
	<a href="https://www.javaland.eu/de/referenten/referent-werden/">
  	    <img class="img-responsive" src="https://www.javaland.eu/fileadmin/2017-JavaLand-2018-CFP-Banner-180x180.jpg"/>
	</a>

        <br/>

        <p>Unterstützt durch:</p>
        <a href="https://www.sogehtsoftware.de">
            <img class="img-responsive" src="/images/saxonia_logo.png">
        </a>
        <br/>
        <a href="https://www.sigs-datacom.de/">
            <img class="img-responsive" src="https://www.sigs-datacom.de/fileadmin/templates/images/logo-sigsdatacom.gif">
        </a>

	<br />
	

      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
